<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>947414289037-kuh7oocj4gnkvsq05cs87o4q7nhq3inp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947414289037-kuh7oocj4gnkvsq05cs87o4q7nhq3inp</string>
	<key>API_KEY</key>
	<string>AIzaSyALjgz6GdzMGCkd-9TbyUb2FJzN51m-Q4k</string>
	<key>GCM_SENDER_ID</key>
	<string>947414289037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>g.testTaskCreatex</string>
	<key>PROJECT_ID</key>
	<string>testofcreatex</string>
	<key>STORAGE_BUCKET</key>
	<string>testofcreatex.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:947414289037:ios:356f3c70d8ad181a54b0c4</string>
	<key>DATABASE_URL</key>
	<string>https://testofcreatex.firebaseio.com</string>
</dict>
</plist>
